#dropdownMenuButton{
   
    margin-right: 5px;
    color: whitesmoke;
    border-color: rgb(97, 219, 251);
    background-color: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


#btnNav{
    margin-right: 5px;   
    border-color:rgb(97, 219, 251);
    color: whitesmoke;
}

.navbar{
    height: 9%;
}