#root{

    height: 100%;

    width: 100%;
    background-color: #ffffff;
   
}

body, html{
    height: 100%;
    width: 100%;
    
    
}


.container{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    
    background-color: whitesmoke;

}



#reactlog > img:nth-child(1){
 
    display: block;
    transition: width 2s, height 2s,  transform 5s;
}
#reactlog > img:nth-child(1):hover{
    
    transform: rotate(360deg);
}